<launch>
    <param name="robot_description" command="xacro --inorder '$(find anro3)/urdf/moving.urdf'"/>
    <arg name="rvizconfig" default="$(find anro3)/rviz/kdl.rviz" />

    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node name="rviz" pkg="rviz" type="rviz" args ="-d $(arg rvizconfig)" required="true"/>
    <node name="NKDL" pkg="anro3" type="kdl.py" />
</launch>
