<launch>
	
    <param name="robot_description" command="xacro --inorder '$(find anro3)/urdf/moving.urdf'"/>
    <param name ="use" value="true"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="rviz" pkg="rviz" args="-f base_link" type="rviz" required="true"/>
</launch>
