<launch>
    <param name="robot_description" command="xacro --inorder '$(find anro5)/urdf/moving.urdf'"/>
    <param name ="use" value="true"/>
    <param name ="publish_default_positions" value="true"/>
    <arg name="rvizconfig" default="$(find anro5)/rviz/1.rviz" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="use_tf_static" value="false"/>
    <param name="publish_frequency" value="50"/>
    </node>

	
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"  required="true"/>
    <node name="oint" pkg="anro5" type="oint.py"/>  

</launch>
